.search-button{
    all: unset;
    border: 2px;
    border-radius: 3px;
    background-color: #F25C5C;
    padding: 8px;
    color: white;
    cursor: pointer;
}
.search-button:hover{
    opacity: 80%;
}
.search-input{
    height: 25px;
    width: 500px;
}
.profile-image{
    height: 50px;
    width: 50px;
}
.navbar-brand{
    padding:0px;
}
.logo-image{
    height: 60px;
    width: 50px;
}
.user-image{
    height: 70px;
    width: 70px;
}